a {
  margin-left: 1em;
  margin-right: 1em;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

/*.nav-child {*/
/*  display: flex;*/
/*}*/

#header-title-container{
  display: flex;
  justify-content: flex-start;
}

#header-nav-container {
  display: flex;
  justify-content: flex-end;
}


